
/*NAV-BAR*/

.navbar-gradient {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
}

.nav-link-header {
    color: #FFFFFF;
}


.w-100{
    width: 100%!important;
    height: 273px !important;
}

/*FORMULARIO*/

.formulario {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px Opx rgba(0,0,0,0.1);
}
.formulario .title{
    text-transform: uppercase;
    text-align: center;
    Letter-spacing: 3px;
    font-size: 3em;
    Line-height: 48px;
    color: #2c3e50;
    background: linear-gradient(to left, #2c3e50, #bdc3c7) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.formulario .subtitle{
    text-transform: uppercase;
    text-align: left;
    Letter-spacing: 3px;
    font-size: 14px;
    Line-height: 30px;
    color: #2c3e50;
    background: #2c3e50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formulario .subtitle1{
    text-transform: uppercase;
    text-align: left;
    Letter-spacing: 3px;
    font-size: 14px;
    Line-height: 30px;
    color: #2c3e50;
    background: #2c3e50;
}
.formulario .subs2{
    text-transform: uppercase;
    text-align: left;
    Letter-spacing: 3px;
    font-size: 14px;
    Line-height: 30px;
    color: #2c3e50;
}

.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #2c3e50;
    font-size: 18px;
    Line-height: 26px;
    font-weight : 400;
}


.contact-form .btn{
    display: inline-block;
    background-image : linear-gradient( to left, #2c3e50, #bdc3c7);
    color: #fff;
    text-transform: uppercase;
    Letter-spacing : 2px;
    font-size : 16px;
    padding : 8px 16px;
    border : none;
    width: 200px;
    Cursor: pointer;
}

.margin{
    margin-left: 10px;
    margin-right: 10px;
}
/*FOOTER*/

.page-footer {
    background: #000000;
    background: -webkit-linear-gradient(to top, #434343, #000000);
    background: linear-gradient(to top, #434343, #000000);
}