//import
@import "variable.scss";

//mixins
@mixin text-type {
  text-transform: uppercase;
  text-align: left;
  Letter-spacing: 3px;
  font-size: 14px;
  Line-height: 30px;
  color: $color-blueGradient;
}


/*NAV-BAR*/

.navbar-gradient {
  background: $color-GreyGradient;
  background: -webkit-linear-gradient(to left, $color-blueGradient, $color-GreyGradient);
  background: linear-gradient(to left, $color-blueGradient, $color-GreyGradient);
}

.nav-link-header {
  color: $color-white;
}


.w-100{
  width: 100%!important;
  height: 273px !important;
}

/*FORMULARIO*/


.formulario {

        max-width: 800px;
        margin: 50px auto;
        position: relative;
        box-shadow: 0 10px 30px Opx $color-Shadow;
      
      .title {
        text-transform: uppercase;
        text-align: center;
        Letter-spacing: 3px;
        font-size: 3em;
        Line-height: 48px;
        color: $color-blueGradient;
        background: linear-gradient(to left, $color-blueGradient, $color-GreyGradient) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .subtitle1 {
        @include text-type;
        background: $color-blueGradient;
      }

      .subtitle{
        @extend .subtitle1;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
      .subs2{
        @include text-type;
        color: $color-blueGradient;
      }     
      
}

.margin{
  margin-left: 10px;
  margin-right: 10px;
}

//contact form


.contact-form {

      .input-text{
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 2px 0;
        border-color: $color-blueGradient;
        font-size: 18px;
        Line-height: 26px;
        font-weight : 400;
      } 

      .btn{
        display: inline-block;
        background-image : linear-gradient( to left, $color-blueGradient, $color-GreyGradient);
        color: $color-white;
        text-transform: uppercase;
        Letter-spacing : 2px;
        font-size : 16px;
        padding : 8px 16px;
        border : none;
        width: 200px;
        Cursor: pointer;
      }

}   


/*FOOTER*/

.page-footer {
  background: $color-black;
  background: -webkit-linear-gradient(to top, $color-greyDark, $color-black);
  background: linear-gradient(to top, $color-greyDark, $color-black);
}